<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<header class="header">
  <div class="header-inner">
      <div class="logo">
          {{#link 'help_center'}}
              <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}" />
              {{#if settings.show_brand_name}}
                  <span aria-hidden="true">{{help_center.name}}</span>
              {{/if}}
          {{/link}}
      </div>

      <div class="header_button_wrapper">
          <a href="#"><button class="button cta">Get Started</button></a>

          <a href="#"><button class="button request">Submit a Request</button></a>
      </div>

      <div class="nav-wrapper-mobile">
          <button class="menu-button-mobile" aria-controls="user-nav-mobile" aria-expanded="false" aria-label="{{t 'toggle_navigation'}}">
              {{#if signed_in}}
                  {{user_avatar class="user-avatar"}}
              {{/if}}
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-menu">
                  <path fill="none" stroke="currentColor" stroke-linecap="round" d="M1.5 3.5h13m-13 4h13m-13 4h13"/>
              </svg>
          </button>
          <nav class="menu-list-mobile" id="user-nav-mobile" aria-expanded="false">
              <ul class="menu-list-mobile-items">
                  {{#if signed_in}}
                      <li class="user-avatar-item item">
                          {{#my_profile class="my-profile"}}
                              {{user_avatar class="menu-profile-avatar"}}
                              <div class="menu-profile-name">
                                  <div>{{user_name}}</div>
                                  <div class="my-profile-tooltip">{{t 'profile'}}</div>
                              </div>
                          {{/my_profile}}
                      </li>
                      <li class="item">{{link "requests"}}</li>
                      <li class="item">{{#link "contributions"}}{{t "activities"}}{{/link}}</li>
                      <li class="item">{{contact_details}}</li>
                      <li class="item">{{change_password class='change-password'}}</li>
                      <li class="nav-divider"></li>
                  {{else}}
                      <li class="item">
                          {{#link "sign_in"}}
                              {{t 'sign_in'}}
                          {{/link}}
                      </li>
                      <li class="nav-divider"></li>
                  {{/if}}
                  <li class="item">{{link 'community'}}</li>
                  <li class="item">{{link 'new_request' class='submit-a-request'}}</li>
                  <li class="nav-divider"></li>
                  {{#if signed_in}}
                      <li class="item">
                          {{link "sign_out"}}
                      </li>
                  {{/if}}
              </ul>
          </nav>
      </div>

  </div>
</header>
