<div class="container-divider"></div>
<div class="container">
  <div class="sub-nav">
    {{breadcrumbs}}
    <div class="search-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
        <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
      </svg>
      {{search submit=false}}
    </div>
  </div>

  <div class="search-results">
    <aside class="search-results-sidebar">
      {{#if source_filters}}
        <section class="filters-in-section collapsible-sidebar">
          <h3 class="collapsible-sidebar-title sidenav-title">{{t 'filter_source'}}</h3>
          <ul class="multibrand-filter-list">
            {{#each source_filters}}
              <li>
                <a href="{{url}}" class="sidenav-item{{#if selected}} current{{/if}}">
                  <span class="sidenav-subitem filter-name">{{name}}</span>
                  <span class="sidenav-subitem doc-count">({{count}})</span>
                </a>
              </li>
            {{/each}}
          </ul>
        </section>
      {{/if}}

      {{#if type_filters}}
        <section class="filters-in-section collapsible-sidebar">
          <h3 class="collapsible-sidebar-title sidenav-title">{{t 'filter_type'}}</h3>
          <ul class="multibrand-filter-list">
            {{#each type_filters}}
              <li>
                <a href="{{url}}" class="sidenav-item{{#if selected}} current{{/if}}">
                  <span class="sidenav-subitem filter-name">{{name}}</span>
                  <span class="sidenav-subitem doc-count">({{count}})</span>
                </a>
              </li>
            {{/each}}
          </ul>
        </section>
      {{/if}}

      {{#if subfilters}}
        <section class="filters-in-section collapsible-sidebar">
          <h3 class="collapsible-sidebar-title sidenav-title">
            {{#is current_filter.identifier 'knowledge_base'}}
              {{t 'filter_by_category'}}
            {{/is}}
            {{#is current_filter.identifier 'community'}}
              {{t 'filter_by_topic'}}
            {{/is}}
          </h3>
          <ul class="multibrand-filter-list">
            {{#each subfilters}}
              <li>
                <a href="{{url}}" class="sidenav-item{{#if selected}} current{{/if}}">
                  <span class="sidenav-subitem filter-name">{{name}}</span>
                  <span class="sidenav-subitem doc-count">({{count}})</span>
                </a>
              </li>
            {{/each}}
          </ul>
        </section>
      {{/if}}

      {{#if content_tag_filters}}
        <section class="filters-in-section collapsible-sidebar">
          <h3 class="collapsible-sidebar-title sidenav-title">{{t 'filter_content_tag'}}</h3>
          <ul class="multibrand-filter-list">
            {{#each content_tag_filters}}
              <li>
                <a href="{{url}}" class="sidenav-item{{#if selected}} current{{/if}}">
                  <span class="sidenav-subitem filter-name">{{name}}</span>
                  <span class="sidenav-subitem doc-count">({{count}})</span>
                </a>
              </li>
            {{/each}}
          </ul>
        </section>
      {{/if}}
    </aside>

    <section id="main-content" class="search-results-column">
      {{generative_answers}}
      <h1 class="search-results-subheading">
        {{#if results}}
          {{#is current_filter.identifier 'unified'}}
            {{#if content_tag_filters }}
              {{#each (filter content_tag_filters on="selected" equals=true)}}
                {{t 'results_content_tag' content_tag=name count=../results_count}}
              {{/each}}
            {{else}}
              {{t 'results' query=query count=results_count}}
            {{/if}}
          {{else}}
            {{#if content_tag_filters }}
              {{#each (filter content_tag_filters on="selected" equals=true)}}
                {{t 'results_content_tag' content_tag=name count=../results_count}}
              {{/each}}
            {{else}}
              {{#unless current_subfilter.identifier}}
                {{t 'results' query=query count=results_count}}
              {{else}}
                {{t 'results_with_scope' query=query count=results_count scope_name=current_subfilter.name}}
              {{/unless}}
            {{/if}}
          {{/is}}
        {{/if}}
      </h1>
      {{#if results}}
        <ul class="search-results-list">
          {{#each results}}
            <li>
              <article>
                <header>
                  <div class="search-result-title-container">
                    <h2 class="search-result-title">
                      <a href="{{url}}" {{#if is_external}} target="_blank" {{/if}}>
                        {{title}}
                        {{#if is_external}}
                          <svg viewBox="0 0 12 12" height="12" id="zd-svg-icon-12-new-window-fill">
                            <path fill="none" stroke="currentColor" stroke-linecap="round" d="M10.5 8.5V10c0 .28-.22.5-.5.5H2c-.28 0-.5-.22-.5-.5V2c0-.28.22-.5.5-.5h1.5M6 6l4-4"></path>
                            <path fill="currentColor" d="M10.5 6.5a.47.47 0 0 1-.35-.15l-4.5-4.5a.474.474 0 0 1-.11-.54C5.62 1.12 5.8 1 6 1h4c.55 0 1 .45 1 1v4c0 .2-.12.38-.31.46-.06.03-.13.04-.19.04z"></path>
                          </svg>
                        {{/if}}
                      </a>
                    </h2>
                    <div class="search-result-icons">
                      {{#if vote_sum}}
                        <span class="search-result-votes">
                          <span class="visibility-hidden">
                            {{t 'votes_sum' count=vote_sum}}
                          </span>
                          <span aria-hidden="true">{{vote_sum}}</span>
                        </span>
                      {{/if}}
                      {{#if comment_count}}
                        <span class="search-result-meta-count">
                          <span class="visibility-hidden">
                            {{t 'comments_count' count=comment_count}}
                          </span>
                          <span aria-hidden="true">{{comment_count}}</span>
                        </span>
                      {{/if}}
                    </div>
                  </div>
                  <div class="search-result-meta-container">
                    <nav {{#is type 'article'}}aria-label='{{t 'article_location_with_title' title=title}}'{{/is}}>
                      <ol class="breadcrumbs search-result-breadcrumbs">
                        {{#each path_steps}}
                          <li><a href="{{url}}" target="{{target}}">{{name}}</a></li>
                        {{/each}}
                      </ol>
                    </nav>
                  </div>
                </header>
                <p class="search-result-description">{{text}}</p>
              </article>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <div class="no-results">
          <div class="headline">{{t 'no_results_unified_start_new_search'}}</div>
          <div class="action-prompt">{{t 'no_results_unified_enter_keywords'}}</div>
          <div class="action-prompt">
            {{#link 'help_center'}}
              {{t 'go_to_help_center'}}
            {{/link}}
          </div>
        </div>
      {{/if}}
    </section>
  </div>
  {{pagination}}
</div>
